In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dags/P2M3_alridho_data_clean.csv')
# Menghapus kolom dengan nama spesifik 'Unnamed: 0'
df = df.drop(columns=['Unnamed: 0'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   invoice_id               1000 non-null   object
 1   branch                   1000 non-null   object
 2   city                     1000 non-null   object
 3   customer_type            1000 non-null   object
 4   gender                   1000 non-null   object
 5   product_line             1000 non-null   object
 6   unit_price               1000 non-null   float64
 7   quantity                 1000 non-null   int64
 8   tax_5                    1000 non-null   float64
 9   total                    1000 non-null   float64
 10  date                     1000 non-null   object
 11  time                     1000 non-null   object
 12  payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross_margin_percentage  1000 non-null   float64
 15  gross_income             1000 non-null   float64
 16  rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [3]:
df.head(1)

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,13:08:00,Ewallet,522.83,4.76,26.14,9.1

In [8]:

unique_years = df['date'].dt.month.unique()
print(unique_years)

[1 3 2]

In [10]:
# Menghitung total jumlah barang terjual per hari
total_per_day = df.groupby('date')['quantity'].sum()

# Menghitung rata-rata jumlah barang terjual per hari
average_quantity_per_day = total_per_day.mean()

print(f"Rata-rata jumlah barang terjual per hari: {average_quantity_per_day}")

Rata-rata jumlah barang terjual per hari: 61.91011235955056